<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="mapsenginelayer-events">
<head>
    <meta charset="UTF-8">
    <title>angular-google-mapsenginelayer-events example page</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700'
          rel='stylesheet' type='text/css'>
    <link href="assets/stylesheets/example.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="mapsenginelayereventsController">
<!--	You can use either a div having class 'google-map' or the '<ui-gmap-google-map>' element; in
    the latter case, uncomment the style above to make sure the custom elements gets block display	-->

<div class="container-fluid">
<div class="row-fluid">
    <div class="page-title">
        <h2>angular-google-maps example </h2>
    </div>
</div>
<div class="row-fluid">
    <ui-gmap-google-map options="map.options" center="map.center" zoom="map.zoom" events="map.events" control="map.control">
        <ui-gmap-layer namespace="visualization" type="MapsEngineLayer" events="layer.events" options="layer.mapsEngineLayerOptions" show="layer.show"></ui-gmap-layer>
        <ui-gmap-layer namespace="visualization" type="DynamicMapsEngineLayer" events="dynLayer.events" options="dynLayer.mapsEngineLayerOptions" show="dynLayer.show"></ui-gmap-layer>
    </ui-gmap-google-map>
<div class="span5" ng-repeat="e in layer.events2">
    <div ng-bind-html="e.infoWindowHtml"></div>
</div>
    <button class="btn btn-success" ng-click="refreshMap()">Refresh Map</button>
    <input name="UseBools" type="checkbox"  ng-model="layer.show" ng-value="layer.show" >Toggle Maps Engine Layer <br/>
    <input name="UseBools" type="checkbox"   ng-model="dynLayer.show" ng-value="dynLayer.show">Toggle Dynamic Maps Engine Layer <br/>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
<script src="../dist/angular-google-maps.js"></script>
<script src="assets/scripts/controllers/mapsenginelayer-events.js"></script>
</body>

</html>
